<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OMS API Regression" parallel="tests" verbose ="1">
	<listeners>
		<listener class-name="tiki.vn.qc.ConnectTestRail" />
		<listener class-name="tiki.vn.qc.UpdateTestResult" />
	</listeners>
	<test name="OMS" preserve-order="false">
		<classes>
			<class name="Test.simpleTest"></class>
		</classes>
	</test>
</suite>